* text=auto eol=lf
*.bat text eol=crlf
*.cmd text eol=crlf

*.png binary
*.webp binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.apk binary
*.aab binary
*.jar binary
*.zip binary
*.so binary
